<footer class="footer" id="footer">

    <div class="social">
        <a class="icon-facebook" href="https://www.facebook.com/profile.php?id=100014547347833&fref=ts" target="blank"></a>
        <a class="icon-twitter" target="blank" href="https://twitter.com/mppaptiniaula?lang=es"></a>
        <a class="icon-instagram" href="https://www.instagram.com/oticmatvenezuela/?hl=es" target="blank"></a>
    </div>
    <p class="text-muted credit">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, quam!</p>

</footer>

<script src="js/slider.js" charset="utf-8"></script>

</body>

</html>
